  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
   :root {
      --primary-color: #ff4d4f;
      --header-height: 70px;
  }
  
  body {
      font-family: 'Open Sans';
      font-weight: 400;
      /* background: radial-gradient(61.04% 89.69% at 100% 100%, rgba(200, 250, 255, 0.08) 0%, rgba(28, 210, 229, 0.08) 40.63%, rgba(28, 210, 229, 0) 100%), radial-gradient(43.78% 64.34% at 60.31% 100%, rgba(23, 74, 228, 0.08) 0%, rgba(23, 74, 228, 0) 100%), linear-gradient(180deg, rgba(23, 74, 228, 0) 29.44%, rgba(23, 74, 228, 0.06) 100%), linear-gradient(90deg, #F3F3F7 0%, #EBF0F9 100%); */
      /* background-image: url('../images/bg.png'); */
      background-image: url('../images/bg.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
  }
  
  *::-webkit-scrollbar {
      width: 0;
  }
  
  .shadow-full {
      box-shadow: 0px 0px 10px 1px rgba(101, 101, 101, 0.25) !important;
  }
  
  @media (max-width: 1000px) {
      .container,
      .container-sm {
          max-width: none !important;
      }
  }
  
  #app .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
  }
  
  #app .trigger:hover {
      color: #1890ff;
  }
  
  .ant-image-preview-switch-left,
  .ant-image-preview-switch-right {
      z-index: 999 !important;
      background-color: #ffffff52 !important;
      color: #000;
  }
  
  .ant-image-preview-switch-left-disabled,
  .ant-image-preview-switch-right-disabled {
      color: #6b6060de !important;
  }
  
  .brr-2 {
      border-radius: 2px !important;
  }
  
  .brr-5 {
      border-radius: 5px !important;
  }
  
  .brr-10 {
      border-radius: 10px !important;
  }
  
  .text-primary {
      color: var(--primary-color) !important;
  }
  
  .border-none {
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: none
  }
  
  .border-sm-left {
      border-left: 1px solid !important;
  }
  
  .border-secondary {
      border-color: #d1d1d1 !important;
  }
  
  .border-primary {
      border-color: var(--primary-color) !important;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  input[type="number"] {
      -moz-appearance: textfield;
  }
  
  @media (max-width: 576px) {
      .vue-image-crop-upload .vicp-wrap {
          width: 80% !important;
          height: 70% !important;
      }
      .vicp-step1 {
          height: 90% !important;
      }
      .vicp-drop-area {
          height: 100% !important;
      }
      .vicp-step2 {
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
      }
      .vicp-crop-left,
      .vicp-crop-right {
          float: none !important;
      }
      .vicp-img-container {
          margin: auto !important;
      }
      .vicp-preview {
          display: flex;
          justify-content: center;
      }
  }
  
  .nav {
      --bs-nav-link-padding-x: 1rem;
      --bs-nav-link-padding-y: 0.5rem;
      --bs-nav-link-font-weight: ;
      --bs-nav-link-color: var(--bs-link-color);
      --bs-nav-link-hover-color: var(--bs-link-hover-color);
      --bs-nav-link-disabled-color: var(--bs-secondary-color);
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  
  .nav .nav-item {
      padding: 5px 10px;
      cursor: pointer;
  }
  
  .nav .nav-item a {
      color: #000;
  }
  
  .nav .nav-item:hover,
  a:hover {
      color: var(--primary-color) !important;
  }
  
  .fs-small {
      font-size: 13px !important;
  }
  
  .ant-notification-notice {
      border-radius: 10px;
  }
  
  .text-overflow-2-lines,
  .text-overflow-3-lines {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
  }
  
  .text-overflow-2-lines {
      -webkit-line-clamp: 2;
  }
  
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
      border-color: rgba(255, 77, 80, 0.2);
  }
  
  .square {
      object-fit: cover;
      aspect-ratio: 1/1;
  }